.nav-button {
    background-color: lightgray;
    width: 25%;
    height: 75px;
    border: none;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: center;
    display: inline-block;
}

.nav-button:hover{
    background-color: rgb(90,90,90);
}

.nav-button:active{
    background-color: lightgray;
}

.buttons {
    text-align: center;
}

p {
    text-align: left;
    font-size: 1.25em;
}

h1{
    text-align: center;
    font-size: 2.5em;
    background-color: lightsalmon;
}

img{
    width: 325px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link:visited {
    color: violet;
}

.footer{
    font-size: 1em;
}

.main-text{
    text-align: center;
}

iframe[seamless]{
    border: none;
}

h2 {
    font-size: 1.5em;
}

li {
    font-size: 1.25em;
}

hr {
    background-color: lightsalmon;
}
